In [1]:
import pandas as pd
import numpy as np

df_annual_em_ela_2022 = pd.read_csv(
    "/Users/kashafali/Documents/Duke/Spring23/UDS/Project/Data/2022/Annual EM ELA.csv"
)

In [2]:
df_annual_em_ela_2022.columns

Index(['INSTITUTION_ID', 'ENTITY_CD', 'ENTITY_NAME', 'YEAR', 'ASSESSMENT_NAME',
       'SUBGROUP_NAME', 'TOTAL_COUNT', 'NOT_TESTED', 'PCT_NOT_TESTED',
       'NUM_TESTED', 'PCT_TESTED', 'LEVEL1_COUNT', 'LEVEL1_%TESTED',
       'LEVEL2_COUNT', 'LEVEL2_%TESTED', 'LEVEL3_COUNT', 'LEVEL3_%TESTED',
       'LEVEL4_COUNT', 'LEVEL4_%TESTED', 'NUM_PROF', 'PER_PROF',
       'TOTAL_SCALE_SCORES', 'MEAN_SCORE'],
      dtype='object')

In [29]:
df_annual_em_ela_2022["SUBGROUP_NAME"].unique()

array(['All Students', 'Female', 'Male',
       'American Indian or Alaska Native', 'Black or African American',
       'Hispanic or Latino',
       'Asian or Native Hawaiian/Other Pacific Islander', 'White',
       'Multiracial', 'General Education Students',
       'Students with Disabilities', 'Non-English Language Learner',
       'English Language Learner', 'Economically Disadvantaged',
       'Not Economically Disadvantaged', 'Migrant', 'Not Migrant',
       'Homeless', 'Not Homeless', 'In Foster Care', 'Not in Foster Care',
       'Parent in Armed Forces', 'Parent Not in Armed Forces',
       'Small Group Total'], dtype=object)

# Dataframe for All Students

In [3]:
# only keep columns
column_names = [
    "ENTITY_CD",
    "ENTITY_NAME",
    "YEAR",
    "ASSESSMENT_NAME",
    "SUBGROUP_NAME",
    "TOTAL_COUNT",
    "NOT_TESTED",
    "PCT_NOT_TESTED",
    "NUM_TESTED",
    "PCT_TESTED",
    "NUM_PROF",
    "PER_PROF",
    "TOTAL_SCALE_SCORES",
    "MEAN_SCORE",
]

df_annual_em_ela_2022_total = df_annual_em_ela_2022[column_names]
df_annual_em_ela_2022_total = df_annual_em_ela_2022_total[
    df_annual_em_ela_2022_total["SUBGROUP_NAME"] == "All Students"
]

In [4]:
df_annual_em_ela_2022_total.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,SUBGROUP_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,PCT_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE
0,111111111111,All Public Schools,2021,ELA3,All Students,192560,99642,52,92918,48,56106,60,56059902,603
23,1000000,ALBANY County,2021,ELA3,All Students,2999,993,33,2006,67,1208,60,1211521,604
46,2000000,ALLEGANY County,2021,ELA3,All Students,420,39,9,381,91,214,56,228654,600
66,3000000,BROOME County,2021,ELA3,All Students,1859,512,28,1347,72,733,54,809026,601
89,4000000,CATTARAUGUS County,2021,ELA3,All Students,869,132,15,737,85,396,54,442136,600

In [5]:
df_annual_em_ela_2022_merge = df_annual_em_ela_2022_total.drop(
    columns=["SUBGROUP_NAME"]
).copy()

# Dataframe for Gender

In [6]:
df_annual_em_ela_2022_gender = df_annual_em_ela_2022.copy()

df_annual_em_ela_2022_gender = df_annual_em_ela_2022_gender[column_names]

df_annual_em_ela_2022_gender = df_annual_em_ela_2022_gender[
    (df_annual_em_ela_2022_gender["SUBGROUP_NAME"] == "Female")
    | (df_annual_em_ela_2022_gender["SUBGROUP_NAME"] == "Male")
]

In [7]:
# fix index
df_annual_em_ela_2022_gender = df_annual_em_ela_2022_gender.set_index(
    ["SUBGROUP_NAME", "ENTITY_CD", "YEAR", "ASSESSMENT_NAME"]
).unstack(["SUBGROUP_NAME"])

df_annual_em_ela_2022_gender = df_annual_em_ela_2022_gender.reindex(
    columns=sorted(df_annual_em_ela_2022_gender.columns, key=lambda x: x[::-1])
)

df_annual_em_ela_2022_gender.columns = [
    "{}_{}".format(t, v) for v, t in df_annual_em_ela_2022_gender.columns
]

df_annual_em_ela_2022_gender = pd.DataFrame(df_annual_em_ela_2022_gender.to_records())

In [8]:
df_annual_em_ela_2022_gender.head()

,ENTITY_CD,YEAR,ASSESSMENT_NAME,Female_ENTITY_NAME,Female_MEAN_SCORE,Female_NOT_TESTED,Female_NUM_PROF,Female_NUM_TESTED,Female_PCT_NOT_TESTED,Female_PCT_TESTED,...,Male_ENTITY_NAME,Male_MEAN_SCORE,Male_NOT_TESTED,Male_NUM_PROF,Male_NUM_TESTED,Male_PCT_NOT_TESTED,Male_PCT_TESTED,Male_PER_PROF,Male_TOTAL_COUNT,Male_TOTAL_SCALE_SCORES
0,1,2021,ELA3,NYC Public Schools,608,23589.0,6026,8846.0,73.0,27.0,...,NYC Public Schools,605,26887.0,5542,8592.0,76.0,24.0,65,35479.0,5202092
1,1,2021,ELA4,NYC Public Schools,611,23741.0,6237,8881.0,73.0,27.0,...,NYC Public Schools,609,26436.0,5816,8817.0,75.0,25.0,66,35253.0,5367542
2,1,2021,ELA5,NYC Public Schools,609,25432.0,4728,8296.0,75.0,25.0,...,NYC Public Schools,605,28495.0,4154,8283.0,77.0,23.0,50,36778.0,5014350
3,1,2021,ELA6,NYC Public Schools,610,26215.0,4985,6767.0,79.0,21.0,...,NYC Public Schools,605,29060.0,4553,7006.0,81.0,19.0,65,36066.0,4236505
4,1,2021,ELA7,NYC Public Schools,609,26545.0,4320,6799.0,80.0,20.0,...,NYC Public Schools,606,29347.0,4117,7115.0,80.0,20.0,58,36462.0,4310380

# Merge Gender Dataframe with All Students Dataframe

In [9]:
df_ela_2022_1 = pd.merge(
    df_annual_em_ela_2022_merge,
    df_annual_em_ela_2022_gender,
    on=["ENTITY_CD", "YEAR", "ASSESSMENT_NAME"],
    how="left",
)

df_ela_2022_1.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,PCT_TESTED,NUM_PROF,...,Male_ENTITY_NAME,Male_MEAN_SCORE,Male_NOT_TESTED,Male_NUM_PROF,Male_NUM_TESTED,Male_PCT_NOT_TESTED,Male_PCT_TESTED,Male_PER_PROF,Male_TOTAL_COUNT,Male_TOTAL_SCALE_SCORES
0,111111111111,All Public Schools,2021,ELA3,192560,99642,52,92918,48,56106,...,All Public Schools,602,52170.0,27469,46905.0,53.0,47.0,59,99075.0,28252657
1,1000000,ALBANY County,2021,ELA3,2999,993,33,2006,67,1208,...,ALBANY County,602,528.0,552,965.0,35.0,65.0,57,1493.0,581350
2,2000000,ALLEGANY County,2021,ELA3,420,39,9,381,91,214,...,ALLEGANY County,600,21.0,112,201.0,9.0,91.0,56,222.0,120529
3,3000000,BROOME County,2021,ELA3,1859,512,28,1347,72,733,...,BROOME County,600,272.0,371,690.0,28.0,72.0,54,962.0,413961
4,4000000,CATTARAUGUS County,2021,ELA3,869,132,15,737,85,396,...,CATTARAUGUS County,598,78.0,182,375.0,17.0,83.0,49,453.0,224177

# Dataframe for Race

In [10]:
df_annual_em_ela_2022_race = df_annual_em_ela_2022[column_names].copy()

df_annual_em_ela_2022_race = df_annual_em_ela_2022_race[
    (df_annual_em_ela_2022_race["SUBGROUP_NAME"] == "American Indian or Alaska Native")
    | (df_annual_em_ela_2022_race["SUBGROUP_NAME"] == "Black or African American")
    | (df_annual_em_ela_2022_race["SUBGROUP_NAME"] == "Hispanic or Latino")
    | (
        df_annual_em_ela_2022_race["SUBGROUP_NAME"]
        == "Asian or Native Hawaiian/Other Pacific Islander"
    )
    | (df_annual_em_ela_2022_race["SUBGROUP_NAME"] == "White")
    | (df_annual_em_ela_2022_race["SUBGROUP_NAME"] == "Multiracial")
]

In [11]:
# reindex

df_annual_em_ela_2022_race = df_annual_em_ela_2022_race.set_index(
    ["SUBGROUP_NAME", "ENTITY_CD", "YEAR", "ASSESSMENT_NAME"]
).unstack(["SUBGROUP_NAME"])

df_annual_em_ela_2022_race = df_annual_em_ela_2022_race.reindex(
    columns=sorted(df_annual_em_ela_2022_race.columns, key=lambda x: x[::-1])
)

df_annual_em_ela_2022_race.columns = [
    "{}_{}".format(t, v) for v, t in df_annual_em_ela_2022_race.columns
]

df_annual_em_ela_2022_race = pd.DataFrame(df_annual_em_ela_2022_race.to_records())

In [12]:
df_annual_em_ela_2022_race.head()

,ENTITY_CD,YEAR,ASSESSMENT_NAME,American Indian or Alaska Native_ENTITY_NAME,American Indian or Alaska Native_MEAN_SCORE,American Indian or Alaska Native_NOT_TESTED,American Indian or Alaska Native_NUM_PROF,American Indian or Alaska Native_NUM_TESTED,American Indian or Alaska Native_PCT_NOT_TESTED,American Indian or Alaska Native_PCT_TESTED,...,White_ENTITY_NAME,White_MEAN_SCORE,White_NOT_TESTED,White_NUM_PROF,White_NUM_TESTED,White_PCT_NOT_TESTED,White_PCT_TESTED,White_PER_PROF,White_TOTAL_COUNT,White_TOTAL_SCALE_SCORES
0,1,2021,ELA3,NYC Public Schools,604,687.0,105,166.0,81.0,19.0,...,NYC Public Schools,615,8991.0,3471,4308.0,68.0,32.0,81,13299.0,2647907
1,1,2021,ELA4,NYC Public Schools,603,606.0,108,190.0,76.0,24.0,...,NYC Public Schools,620,8379.0,3429,4162.0,67.0,33.0,82,12541.0,2579010
2,1,2021,ELA5,NYC Public Schools,603,657.0,73,158.0,81.0,19.0,...,NYC Public Schools,616,10105.0,2551,3678.0,73.0,27.0,69,13783.0,2267313
3,1,2021,ELA6,NYC Public Schools,607,610.0,97,144.0,81.0,19.0,...,NYC Public Schools,615,9341.0,2599,3134.0,75.0,25.0,83,12475.0,1926987
4,1,2021,ELA7,NYC Public Schools,603,591.0,78,144.0,80.0,20.0,...,NYC Public Schools,616,9393.0,2285,2958.0,76.0,24.0,77,12351.0,1821131

# Merge Race Dataset with All Students + Gender Dataset

In [13]:
df_ela_2022_2 = pd.merge(
    df_ela_2022_1,
    df_annual_em_ela_2022_race,
    on=["ENTITY_CD", "YEAR", "ASSESSMENT_NAME"],
    how="left",
)

df_ela_2022_2.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,PCT_TESTED,NUM_PROF,...,White_ENTITY_NAME,White_MEAN_SCORE,White_NOT_TESTED,White_NUM_PROF,White_NUM_TESTED,White_PCT_NOT_TESTED,White_PCT_TESTED,White_PER_PROF,White_TOTAL_COUNT,White_TOTAL_SCALE_SCORES
0,111111111111,All Public Schools,2021,ELA3,192560,99642,52,92918,48,56106,...,All Public Schools,607,27859.0,33331,50163.0,36.0,64.0,66,78022.0,30424998
1,1000000,ALBANY County,2021,ELA3,2999,993,33,2006,67,1208,...,ALBANY County,608,335.0,787,1151.0,23.0,77.0,68,1486.0,700152
2,2000000,ALLEGANY County,2021,ELA3,420,39,9,381,91,214,...,ALLEGANY County,600,36.0,203,362.0,9.0,91.0,56,398.0,217207
3,3000000,BROOME County,2021,ELA3,1859,512,28,1347,72,733,...,BROOME County,603,300.0,590,1018.0,23.0,77.0,58,1318.0,613389
4,4000000,CATTARAUGUS County,2021,ELA3,869,132,15,737,85,396,...,CATTARAUGUS County,601,106.0,358,617.0,15.0,85.0,58,723.0,371043

# English Language Learners Dataframe

In [14]:
df_annual_em_ela_2022_eng = df_annual_em_ela_2022[column_names].copy()


df_annual_em_ela_2022_eng = df_annual_em_ela_2022_eng[
    (df_annual_em_ela_2022_eng["SUBGROUP_NAME"] == "Non-English Language Learner")
    | (df_annual_em_ela_2022_eng["SUBGROUP_NAME"] == "English Language Learner")
]

In [15]:
# reindex

df_annual_em_ela_2022_eng = df_annual_em_ela_2022_eng.set_index(
    ["SUBGROUP_NAME", "ENTITY_CD", "YEAR", "ASSESSMENT_NAME"]
).unstack(["SUBGROUP_NAME"])

df_annual_em_ela_2022_eng = df_annual_em_ela_2022_eng.reindex(
    columns=sorted(df_annual_em_ela_2022_eng.columns, key=lambda x: x[::-1])
)

df_annual_em_ela_2022_eng.columns = [
    "{}_{}".format(t, v) for v, t in df_annual_em_ela_2022_eng.columns
]

df_annual_em_ela_2022_eng = pd.DataFrame(df_annual_em_ela_2022_eng.to_records())

In [16]:
df_annual_em_ela_2022_eng.head()

,ENTITY_CD,YEAR,ASSESSMENT_NAME,English Language Learner_ENTITY_NAME,English Language Learner_MEAN_SCORE,English Language Learner_NOT_TESTED,English Language Learner_NUM_PROF,English Language Learner_NUM_TESTED,English Language Learner_PCT_NOT_TESTED,English Language Learner_PCT_TESTED,...,Non-English Language Learner_ENTITY_NAME,Non-English Language Learner_MEAN_SCORE,Non-English Language Learner_NOT_TESTED,Non-English Language Learner_NUM_PROF,Non-English Language Learner_NUM_TESTED,Non-English Language Learner_PCT_NOT_TESTED,Non-English Language Learner_PCT_TESTED,Non-English Language Learner_PER_PROF,Non-English Language Learner_TOTAL_COUNT,Non-English Language Learner_TOTAL_SCALE_SCORES
0,1,2021,ELA3,NYC Public Schools,590,9988.0,988,2804.0,78.0,22.0,...,NYC Public Schools,610,40488.0,10580,14634.0,73.0,27.0,72,55122.0,8922467
1,1,2021,ELA4,NYC Public Schools,589,9234.0,809,2440.0,79.0,21.0,...,NYC Public Schools,613,40943.0,11244,15258.0,73.0,27.0,74,56201.0,9359475
2,1,2021,ELA5,NYC Public Schools,583,8553.0,239,1934.0,82.0,18.0,...,NYC Public Schools,611,45374.0,8643,14645.0,76.0,24.0,59,60019.0,8943852
3,1,2021,ELA6,NYC Public Schools,581,8449.0,245,1441.0,85.0,15.0,...,NYC Public Schools,611,46826.0,9293,12332.0,79.0,21.0,75,59158.0,7528859
4,1,2021,ELA7,NYC Public Schools,578,7664.0,96,1282.0,86.0,14.0,...,NYC Public Schools,611,48228.0,8341,12632.0,79.0,21.0,66,60860.0,7713297

# Merge English Language Learners Dataset with All Students + Gender + Race Dataset

In [17]:
df_ela_2022_3 = pd.merge(
    df_ela_2022_2,
    df_annual_em_ela_2022_eng,
    on=["ENTITY_CD", "YEAR", "ASSESSMENT_NAME"],
    how="left",
)

df_ela_2022_3.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,PCT_TESTED,NUM_PROF,...,Non-English Language Learner_ENTITY_NAME,Non-English Language Learner_MEAN_SCORE,Non-English Language Learner_NOT_TESTED,Non-English Language Learner_NUM_PROF,Non-English Language Learner_NUM_TESTED,Non-English Language Learner_PCT_NOT_TESTED,Non-English Language Learner_PCT_TESTED,Non-English Language Learner_PER_PROF,Non-English Language Learner_TOTAL_COUNT,Non-English Language Learner_TOTAL_SCALE_SCORES
0,111111111111,All Public Schools,2021,ELA3,192560,99642,52,92918,48,56106,...,All Public Schools,605,85246.0,53495,83928.0,50.0,50.0,64,169174.0,50786013
1,1000000,ALBANY County,2021,ELA3,2999,993,33,2006,67,1208,...,ALBANY County,605,916.0,1150,1864.0,33.0,67.0,62,2780.0,1127301
2,2000000,ALLEGANY County,2021,ELA3,420,39,9,381,91,214,...,ALLEGANY County,600,39.0,214,381.0,9.0,91.0,56,420.0,228654
3,3000000,BROOME County,2021,ELA3,1859,512,28,1347,72,733,...,BROOME County,601,493.0,719,1297.0,28.0,72.0,55,1790.0,779643
4,4000000,CATTARAUGUS County,2021,ELA3,869,132,15,737,85,396,...,CATTARAUGUS County,s,131.0,s,735.0,15.0,85.0,s,866.0,s

# Dataframe for Economic Condition

In [18]:
df_annual_em_ela_2022_econ = df_annual_em_ela_2022[column_names].copy()

df_annual_em_ela_2022_econ = df_annual_em_ela_2022_econ[
    (df_annual_em_ela_2022_econ["SUBGROUP_NAME"] == "Economically Disadvantaged")
    | (df_annual_em_ela_2022_econ["SUBGROUP_NAME"] == "Not Economically Disadvantaged")
]

In [19]:
# reindex

df_annual_em_ela_2022_econ = df_annual_em_ela_2022_econ.set_index(
    ["SUBGROUP_NAME", "ENTITY_CD", "YEAR", "ASSESSMENT_NAME"]
).unstack(["SUBGROUP_NAME"])

df_annual_em_ela_2022_econ = df_annual_em_ela_2022_econ.reindex(
    columns=sorted(df_annual_em_ela_2022_econ.columns, key=lambda x: x[::-1])
)

df_annual_em_ela_2022_econ.columns = [
    "{}_{}".format(t, v) for v, t in df_annual_em_ela_2022_econ.columns
]

df_annual_em_ela_2022_econ = pd.DataFrame(df_annual_em_ela_2022_econ.to_records())

In [20]:
df_annual_em_ela_2022_econ.head()

,ENTITY_CD,YEAR,ASSESSMENT_NAME,Economically Disadvantaged_ENTITY_NAME,Economically Disadvantaged_MEAN_SCORE,Economically Disadvantaged_NOT_TESTED,Economically Disadvantaged_NUM_PROF,Economically Disadvantaged_NUM_TESTED,Economically Disadvantaged_PCT_NOT_TESTED,Economically Disadvantaged_PCT_TESTED,...,Not Economically Disadvantaged_ENTITY_NAME,Not Economically Disadvantaged_MEAN_SCORE,Not Economically Disadvantaged_NOT_TESTED,Not Economically Disadvantaged_NUM_PROF,Not Economically Disadvantaged_NUM_TESTED,Not Economically Disadvantaged_PCT_NOT_TESTED,Not Economically Disadvantaged_PCT_TESTED,Not Economically Disadvantaged_PER_PROF,Not Economically Disadvantaged_TOTAL_COUNT,Not Economically Disadvantaged_TOTAL_SCALE_SCORES
0,1,2021,ELA3,NYC Public Schools,600,37065.0,5858,10576.0,78.0,22.0,...,NYC Public Schools,616,13411.0,5710,6862.0,66.0,34.0,83,20273.0,4228280
1,1,2021,ELA4,NYC Public Schools,604,37494.0,6447,10995.0,77.0,23.0,...,NYC Public Schools,620,12683.0,5606,6703.0,65.0,35.0,84,19386.0,4158227
2,1,2021,ELA5,NYC Public Schools,602,39247.0,4618,10558.0,79.0,21.0,...,NYC Public Schools,617,14680.0,4264,6021.0,71.0,29.0,71,20701.0,3716497
3,1,2021,ELA6,NYC Public Schools,603,43087.0,5612,9203.0,82.0,18.0,...,NYC Public Schools,617,12188.0,3926,4570.0,73.0,27.0,86,16758.0,2819241
4,1,2021,ELA7,NYC Public Schools,603,41198.0,4472,8768.0,82.0,18.0,...,NYC Public Schools,616,14694.0,3965,5146.0,74.0,26.0,77,19840.0,3168997

# Merge Economic Dataset with All Students + Gender + Race + English Language Dataset

In [21]:
df_ela_2022_4 = pd.merge(
    df_ela_2022_3,
    df_annual_em_ela_2022_econ,
    on=["ENTITY_CD", "YEAR", "ASSESSMENT_NAME"],
    how="left",
)

df_ela_2022_4.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,PCT_TESTED,NUM_PROF,...,Not Economically Disadvantaged_ENTITY_NAME,Not Economically Disadvantaged_MEAN_SCORE,Not Economically Disadvantaged_NOT_TESTED,Not Economically Disadvantaged_NUM_PROF,Not Economically Disadvantaged_NUM_TESTED,Not Economically Disadvantaged_PCT_NOT_TESTED,Not Economically Disadvantaged_PCT_TESTED,Not Economically Disadvantaged_PER_PROF,Not Economically Disadvantaged_TOTAL_COUNT,Not Economically Disadvantaged_TOTAL_SCALE_SCORES
0,111111111111,All Public Schools,2021,ELA3,192560,99642,52,92918,48,56106,...,All Public Schools,611,33743.0,36053,48242.0,41.0,59.0,75,81985.0,29473243
1,1000000,ALBANY County,2021,ELA3,2999,993,33,2006,67,1208,...,ALBANY County,611,425.0,855,1180.0,26.0,74.0,72,1605.0,720465
2,2000000,ALLEGANY County,2021,ELA3,420,39,9,381,91,214,...,ALLEGANY County,605,13.0,109,160.0,8.0,92.0,68,173.0,96804
3,3000000,BROOME County,2021,ELA3,1859,512,28,1347,72,733,...,BROOME County,608,169.0,465,653.0,21.0,79.0,71,822.0,397307
4,4000000,CATTARAUGUS County,2021,ELA3,869,132,15,737,85,396,...,CATTARAUGUS County,605,39.0,195,314.0,11.0,89.0,62,353.0,189877

# Dataframe for Special Education

In [22]:
df_annual_em_ela_2022_dis = df_annual_em_ela_2022[column_names].copy()

df_annual_em_ela_2022_dis = df_annual_em_ela_2022_dis[
    (df_annual_em_ela_2022_dis["SUBGROUP_NAME"] == "Students with Disabilities")
]

In [23]:
# reindex

df_annual_em_ela_2022_dis = df_annual_em_ela_2022_dis.set_index(
    ["SUBGROUP_NAME", "ENTITY_CD", "YEAR", "ASSESSMENT_NAME"]
).unstack(["SUBGROUP_NAME"])

df_annual_em_ela_2022_dis = df_annual_em_ela_2022_dis.reindex(
    columns=sorted(df_annual_em_ela_2022_dis.columns, key=lambda x: x[::-1])
)

df_annual_em_ela_2022_dis.columns = [
    "{}_{}".format(t, v) for v, t in df_annual_em_ela_2022_dis.columns
]

df_annual_em_ela_2022_dis = pd.DataFrame(df_annual_em_ela_2022_dis.to_records())

In [24]:
df_annual_em_ela_2022_dis.head()

,ENTITY_CD,YEAR,ASSESSMENT_NAME,Students with Disabilities_ENTITY_NAME,Students with Disabilities_MEAN_SCORE,Students with Disabilities_NOT_TESTED,Students with Disabilities_NUM_PROF,Students with Disabilities_NUM_TESTED,Students with Disabilities_PCT_NOT_TESTED,Students with Disabilities_PCT_TESTED,Students with Disabilities_PER_PROF,Students with Disabilities_TOTAL_COUNT,Students with Disabilities_TOTAL_SCALE_SCORES
0,1,2021,ELA3,NYC Public Schools,591,16878,1011,2700,86,14,37,19578,1595908
1,1,2021,ELA4,NYC Public Schools,592,16562,1048,2797,86,14,37,19359,1656679
2,1,2021,ELA5,NYC Public Schools,588,18355,590,2757,87,13,21,21112,1621980
3,1,2021,ELA6,NYC Public Schools,589,17618,697,2089,89,11,33,19707,1230551
4,1,2021,ELA7,NYC Public Schools,587,17182,446,2085,89,11,21,19267,1223984

# Merge Special Education Dataset with All Students + Gender + Race + English Language + Econ Dataset

In [25]:
df_ela_2022_5 = pd.merge(
    df_ela_2022_4,
    df_annual_em_ela_2022_dis,
    on=["ENTITY_CD", "YEAR", "ASSESSMENT_NAME"],
    how="left",
)

df_ela_2022_5.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,PCT_TESTED,NUM_PROF,...,Students with Disabilities_ENTITY_NAME,Students with Disabilities_MEAN_SCORE,Students with Disabilities_NOT_TESTED,Students with Disabilities_NUM_PROF,Students with Disabilities_NUM_TESTED,Students with Disabilities_PCT_NOT_TESTED,Students with Disabilities_PCT_TESTED,Students with Disabilities_PER_PROF,Students with Disabilities_TOTAL_COUNT,Students with Disabilities_TOTAL_SCALE_SCORES
0,111111111111,All Public Schools,2021,ELA3,192560,99642,52,92918,48,56106,...,All Public Schools,588,27098.0,3955,13126.0,67.0,33.0,30,40224.0,7715541
1,1000000,ALBANY County,2021,ELA3,2999,993,33,2006,67,1208,...,ALBANY County,589,175.0,82,260.0,40.0,60.0,32,435.0,153112
2,2000000,ALLEGANY County,2021,ELA3,420,39,9,381,91,214,...,ALLEGANY County,593,9.0,24,57.0,14.0,86.0,42,66.0,33823
3,3000000,BROOME County,2021,ELA3,1859,512,28,1347,72,733,...,BROOME County,586,100.0,45,187.0,35.0,65.0,24,287.0,109567
4,4000000,CATTARAUGUS County,2021,ELA3,869,132,15,737,85,396,...,CATTARAUGUS County,584,39.0,25,126.0,24.0,76.0,20,165.0,73599

# Clean final ELA dataset

In [26]:
# show all columns in dataframe

# Drop Entity Name columns

df_ela_2022_5 = df_ela_2022_5.drop(
    columns=['Female_ENTITY_NAME', 
    'Male_ENTITY_NAME',
    'American Indian or Alaska Native_ENTITY_NAME',
    'Black or African American_ENTITY_NAME',
    'Hispanic or Latino_ENTITY_NAME',
    'Asian or Native Hawaiian/Other Pacific Islander_ENTITY_NAME',
    'White_ENTITY_NAME',
    'Multiracial_ENTITY_NAME',
    'Non-English Language Learner_ENTITY_NAME',
    'English Language Learner_ENTITY_NAME',
    'Economically Disadvantaged_ENTITY_NAME',
    'Not Economically Disadvantaged_ENTITY_NAME',
    'Students with Disabilities_ENTITY_NAME']
)

In [27]:
df_ela_2022_5.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,PCT_TESTED,NUM_PROF,...,Not Economically Disadvantaged_TOTAL_SCALE_SCORES,Students with Disabilities_MEAN_SCORE,Students with Disabilities_NOT_TESTED,Students with Disabilities_NUM_PROF,Students with Disabilities_NUM_TESTED,Students with Disabilities_PCT_NOT_TESTED,Students with Disabilities_PCT_TESTED,Students with Disabilities_PER_PROF,Students with Disabilities_TOTAL_COUNT,Students with Disabilities_TOTAL_SCALE_SCORES
0,111111111111,All Public Schools,2021,ELA3,192560,99642,52,92918,48,56106,...,29473243,588,27098.0,3955,13126.0,67.0,33.0,30,40224.0,7715541
1,1000000,ALBANY County,2021,ELA3,2999,993,33,2006,67,1208,...,720465,589,175.0,82,260.0,40.0,60.0,32,435.0,153112
2,2000000,ALLEGANY County,2021,ELA3,420,39,9,381,91,214,...,96804,593,9.0,24,57.0,14.0,86.0,42,66.0,33823
3,3000000,BROOME County,2021,ELA3,1859,512,28,1347,72,733,...,397307,586,100.0,45,187.0,35.0,65.0,24,287.0,109567
4,4000000,CATTARAUGUS County,2021,ELA3,869,132,15,737,85,396,...,189877,584,39.0,25,126.0,24.0,76.0,20,165.0,73599

In [28]:
# save to csv

df_ela_2022_5.to_csv('df_ela_2022.csv', index=False)